<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Btree</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendors/bootstrap-vue.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div id="app" class="container" v-cloak>

    <h1>Binary Tree Test</h1>

    <h4 class="mt-4">Add new tree</h4>
    <b-form inline @submit="addTree">
      <b-input
        id="inline-form-input-name"
        class="mb-2 mr-sm-2 mb-sm-0"
        placeholder="Tree name"
        :state="validationName"
        v-model="treeName"
        @input="validationName = true"
      ></b-input>
      <b-form-invalid-feedback :state="validationName">
        You must write some name
      </b-form-invalid-feedback>
      <b-button variant="primary" type="submit">Add tree</b-button>
    </b-form>
    
    <div role="tablist" class="mb-5 mt-5">
      <b-card no-body class="mb-1" v-for="tree in trees">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <a href="#" @click="toggle(tree)">
            Use <<strong>${tree.name}</strong>> tree
          </a>
          <b-button variant="danger" size="sm" class="float-right" @click="removeTree(tree)">
            Remove
          </b-button>
        </b-card-header>
        <b-collapse 
          :id="'tree-'+tree.id" 
          accordion="my-accordion" 
          role="tabpanel" 
        >
          <b-card-body>
            <div class="row">
              <div class="col-4">
                <h5>Add new node</h5>
                <b-form inline @submit="addNode">
                  <b-input
                    id="inline-form-input-name"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    placeholder="Node integer"
                    :state="validationValue"
                    v-model="nodeValue"
                    type="text"
                    autocomplete="off"
                    @input="validationValue = !isNaN(nodeValue) && /^[0-9]+$/g.test(nodeValue)"
                  ></b-input>
                  <b-form-invalid-feedback :state="validationValue">
                    You must write an integer
                  </b-form-invalid-feedback>
                  <b-button variant="primary" type="submit">Add node</b-button>
                </b-form>
              </div>
              <div class="col-8">
                <h5>Calc common lowest ancestor</h5>
                <b-form inline @submit="calcLowestAncestor">
                  <b-input
                    id="inline-form-input-name"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    placeholder="Node 1"
                    v-model="nodeValue1"
                    type="number"
                    autocomplete="off"
                  ></b-input>
                  <b-input
                    id="inline-form-input-name"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    placeholder="Node 2"
                    v-model="nodeValue2"
                    type="number"
                    autocomplete="off"
                  ></b-input>
                  <b-button variant="primary" type="submit">Calc</b-button>
                </b-form>
              </div>
            </div>

            <svg :ref="'draw-'+tree.id"></svg>

          </b-card-body>
        </b-collapse>
      </b-card>
    </div>

  </div>

  <script src="/static/vendors/snap.svg-min.js"></script>
  <script src="/static/vendors/vue.js"></script>
  <script src="/static/vendors/axios.min.js"></script>
  <script src="/static/vendors/bootstrap-vue.min.js"></script>
  <script src="/static/api.js"></script>
  <script src="/static/btree.js"></script>
</body>
</html>